/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

.card-header{
    color: white !important;
}
.dash-tile-icon{
    font-size: 4.5em;
}

.control-error {
    color: red;
    font-size: 0.9em;
}

.sectionBorder{
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;    border-radius: 8px;
}


